<section class="hero">
    <div class="container">
        <div class="row hero__row">
            <div class="col-6">
                <h1 class="hero__title">
                    Make better coffee
                    <img src="/images/coffee.png" alt="" class="hero__img--small">
                </h1>
                <p class="hero__subtitle">
                    why learn how to blog?
                </p>
            </div>
            <div class="col-6">
                <img src="/images/hero.png" alt="" class="hero__bg">
            </div>
        </div>
    </div>
</section>